node-red/auth-flow.json
[{"id":"148d6ed4.75ba11","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"fa3485be.dcfc88","type":"http in","z":"148d6ed4.75ba11","name":"","url":"/login","method":"post","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["6c2cb8a8.c44478","573e3b9d.fa167c"]]},{"id":"f7e67432.c7e9f8","type":"http response","z":"148d6ed4.75ba11","name":"","statusCode":"200","headers":{},"x":1100,"y":40,"wires":[]},{"id":"a7ab1f55.4c24f","type":"jwt verify","z":"148d6ed4.75ba11","name":"","alg":["HS256"],"jwkurl":"","secret":".le2in3no.","key":"","signvar":"payload","storetoken":"payload","x":270,"y":140,"wires":[[]]},{"id":"29b3faf4.d3bf36","type":"switch","z":"148d6ed4.75ba11","name":"","property":"isLogin","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"jsonata"},{"t":"eq","v":"false","vt":"jsonata"}],"checkall":"false","repair":false,"outputs":2,"x":670,"y":60,"wires":[["23678cca.453cf4"],["a49a7823.69de38"]]},{"id":"9caee425.cfde18","type":"http response","z":"148d6ed4.75ba11","name":"","statusCode":"401","headers":{},"x":1100,"y":80,"wires":[]},{"id":"a49a7823.69de38","type":"function","z":"148d6ed4.75ba11","name":"payload","func":"msg.payload = \"Authentication denied\"\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":80,"wires":[["9caee425.cfde18"]]},{"id":"6c2cb8a8.c44478","type":"function","z":"148d6ed4.75ba11","name":"payload","func":"const query = {\n    query: `query MyQuery { users(where: {email: {_eq: \"${msg.payload.username}\"}}) { \n        id id_position email cost_center_sender valid_from valid_to created_at updated_at name surname role full_name }}`,\n    variables: {}\n}\n\nmsg.headers = {\n    'content-type': 'application/json',\n    'x-hasura-admin-secret': 'admin'\n}\n\nmsg.password = msg.payload.password\nmsg.uid = msg.payload;\nmsg.payload = query\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":60,"wires":[["2bff45c7.67c2ca"]]},{"id":"2bff45c7.67c2ca","type":"http request","z":"148d6ed4.75ba11","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"http://localhost:8080/v1/graphql","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":60,"wires":[["92f71e38.cb1ad","25b33c32.a3c1c4"]]},{"id":"23678cca.453cf4","type":"jwt sign","z":"148d6ed4.75ba11","name":"","alg":"HS256","exp":"18000","jwkurl":"","jwkkid":"","secret":"supercalifragilistichespiralidoso","key":"","signvar":"payload","storetoken":"token","x":820,"y":40,"wires":[["adbfdd4a.a0602"]]},{"id":"adbfdd4a.a0602","type":"function","z":"148d6ed4.75ba11","name":"payload","func":"msg.payload = {\n    user: msg.payload.data.users[0],\n    token: msg.token\n}\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":40,"wires":[["f7e67432.c7e9f8"]]},{"id":"92f71e38.cb1ad","type":"function","z":"148d6ed4.75ba11","name":"login","func":"msg.isLogin = msg.payload.data.users.length > 0 && msg.password === 'edison'\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":60,"wires":[["29b3faf4.d3bf36"]]},{"id":"573e3b9d.fa167c","type":"debug","z":"148d6ed4.75ba11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":250,"y":100,"wires":[]},{"id":"25b33c32.a3c1c4","type":"debug","z":"148d6ed4.75ba11","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":590,"y":140,"wires":[]}]